numpy==1.20.3
timm==0.3.4
scipy==1.6.1
wandb==0.10.17
opencv_python_headless==4.5.1.48
pandas==1.2.2
tqdm==4.56.0
albumentations==0.5.2
matplotlib==3.3.4
icecream==2.1.1
omegaconf==2.1.1
scikit_learn==1.0
torch==1.9.1
torchvision==0.10.1
